body {
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
}

.cName{
  width:100%;
  margin:0 ;
  text-align: center;
  height:max-content;
}
.Navs{
  width:100%;
  line-height: 65px;
  position:fixed;
  top:0px;
  display:flexbox;
  flex-direction: column;
border-width: 100%;
background-color:#fefbfd ;
z-index:2;
opacity: 0.9;border-bottom: 5px solid #fefbfd;
/*background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);/*box-shadow:0px 3px rgb(230,230,250) ;*/
}
.Navs ul{
  margin-top:0px;
}
.Navs ul a{
text-align:left;
margin:0px;
margin-left:40px;
text-decoration: none;
color:none;
box-sizing:border-box;
font-family: 20px 'inherit';
font-weight:400;
line-height: 1;  
color:black;
font-family: Arial, Helvetica, sans-serif;
font-size:medium;
letter-spacing: 1.4px;
}

 .Navs  ul  a:hover{
border-bottom:2px solid black;
}
.Navs img{
  float: left;
  padding-left:0px;
  height: 81px;
  width:auto; 
  margin-left: 0px;
}
.Navs img:hover{
  cursor: pointer;
}
 .WelcomeBanner img{
   float:left;
   margin-right:50px;
   margin-left: 30px;
   height:450px;
   width:500px;
 }
 .WelcomeBanner{
   margin-top:130px;
 }

.storestyle:hover{
  display:inline-block;
  cursor: pointer;
}
.carousel{
  margin-top:200px;
  margin-left:400px;
  z-index: -2;
}
.bestproducts{
  margin: 145px;
  clear:left;
  float:left;
}
footer{
width:100%;
padding-left:100px;
height:max-content;
background-color:#333  ;
color:whitesmoke;
text-align: center;
}
.contact-info{
  color:whitesmoke;
  font-size:20px;
  float:left;
}
.copyright{
  margin-top:30px;
  border-style: ridge;
  font-size: 20px;
  height:250px;
  width:fit-content;
  padding-top: 80px;
  border-left: 2px solid white;
}
.description{
  font-family: 'Arvo';
  font-size: 20px;
  }
